<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <h3>Edit Feedback</h3>
        <hr>
        <div class="card">
          <div style="padding: 20px">
            <div class="card-body">
              <h4 class="card-title">Subject: {{feedback.subject}}
                {{#if feedback.resolved}}
                  <span class="badge badge-success">Resolved</span>
                {{else}}
                  <span class="badge badge-danger">Unresolved</span>
                {{/if}}
              </h4>
              <h6 class="card-subtitle mb-2 text-muted">From: {{feedbackUser.name}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">Username: {{feedbackUser.username}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">At: {{feedback.time}}</h6>
              <hr>
              <h6 class="card-subtitle mb-2 text-muted">Message:</h6>
              <p class="card-text">{{feedback.description}}</p>
              <hr>
              <h6 class="card-subtitle mb-2 text-muted">Comments:</h6>
              <textarea class="form-control" id="comment" rows="5">{{feedback.comment}}</textarea><br>
              <a href="/feedback" class="btn btn-secondary">Back</a>
              {{#if feedback.resolved}}
                <button onclick="update('{{{feedback._id}}}',true)" type="submit" class="btn btn-secondary">Update</button>
                <button onclick="update('{{{feedback._id}}}',false)" type="submit" class="btn btn-danger">Mark Unresolved</button>
              {{else}}
                <button onclick="update('{{{feedback._id}}}',false)" type="submit" class="btn btn-secondary">Update</button>
                <button onclick="update('{{{feedback._id}}}',true)" type="submit" class="btn btn-success">Mark Resolved</button>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/public/scripts/feedback/edit.js"></script>
