<h3>Change the user access of all users with role {{roleName}} </h3>
<table id={{roleName}} class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Update User Access of The Group Admin</th>
    </tr>
  </thead>
  <tbody>
    {{#each admins as |admin|}}
      <tr>
        <td>{{admin.name}}</td>
        <td>
          <div class="row">
            <div class="col">
              <select id={{concat admin._id ../roleName}} class="userAccess" style="width: 100%" multiple="multiple">
                {{#each admin.userAccess}}
                  <option selected="selected">{{this}}</option>
                {{else}}
                {{/each}}                                                                    
              </select>
            </div>
            <div class="col">
              <button class="btn btn-primary" onclick="updateUserAccess({{json admin._id}}, {{json ../roleName}})">
                Update User Access
              </button>
            </div>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>