<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Signup</h4>
          <form id="signupForm">
            <div class="form-group">
              <label for="name">Full Name</label>
              <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" placeholder="Enter name" required>
              <small id="nameHelp" hidden class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" placeholder="Enter username" required>
              <small id="usernameHelp" hidden class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
              <small id="emailHelp" hidden class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
            </div>
            <div class="form-group">
              <label for="confirmpassword">Confirm Password</label>
              <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" placeholder="Password" required>
            </div>
            <hr>
            <div class="form-group">
              <label for="name">Phone</label>
              <input type="text" class="form-control" name="phone" id="phone" aria-describedby="phoneHelp"
                     placeholder="Phone Number" value="{{user.phone}}">
              <small id="phoneHelp" hidden class="form-text text-muted"></small>
            </div>
            <label for="name">Gender</label>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="gender" id="genderMale" value="male"> Male
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="female">
                  Female
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="gender" id="genderNull" value="null" checked="true">
                  Unanswered
                </label>
              </div>
              <small id="genderHelp" hidden class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="height">Height (in)</label>
              <input type="number" class="form-control" name="height" id="height" aria-describedby="heightHelp"
                     placeholder="height in inches" value="{{user.height}}">
              <small id="heightHelp" hidden class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="weight">Weight (lbs)</label>
              <input type="number" class="form-control" name="weight" id="weight" aria-describedby="weightHelp"
                     placeholder="weight in pounds" value="{{user.weight}}">
              <small id="weightHelp" hidden class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="name">Date of Birth</label>
              <input type="text" data-toggle="datepicker" class="form-control" name="dob" id="dob"
                     aria-describedby="dobHelp" value="{{user.dob}}">
              <small id="dobHelp" hidden class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <textarea class="form-control" id="address" name="address" rows="3">{{user.address}}</textarea>
            </div>
            <button id="signup" type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  body {
    background-color: #bbb;
  }
</style>
<script>
  var name = $('#name');
  var username = $('#username');
  var email = $('#email');
  var password = $('#password');
  var confirmpassword = $('#confirmpassword');
  var phone = $('#phone');
  var height = $('#height');
  var weight = $('#weight');
  var dob = $('#dob');
  var address = $('#address');

  var fields = [$('#name'),$('#username'),$('#email'),$('#password'),$('#confirmpassword'),$('#phone'),
    $('#height'),$('#weight'),$('#dob'),$('#address')];

  $('[data-toggle="datepicker"]').datepicker();
  $('#signup').click(function(event) {
    event.preventDefault();
    if (!filled(fields)) {
      alert('Please fill in all of the fields.');

    } else if (!passwordCheck(password,confirmpassword)){
      alert('Passwords do not match!')

    } else {
      var values = {};
      $.each($('#signupForm').serializeArray(), function (i, field) {
        values[field.name] = field.value;
      });
      delete values.confirmpassword;
      values.dob = $('[data-toggle="datepicker"]').datepicker('getDate');
      values.height = Number(values.height);
      values.weight = Number(values.weight);
      $.ajax({
        type: "POST",
        url: '../api/signup',
        data: values,
        success: function (result) {
          window.location = '../'
        },
        fail: function (result) {
          console.error(result);
        }
      });
    }
  });



  function passwordCheck(password, confirmpassword) {
    if (password.val() === confirmpassword.val()) {
      return true;
    }
    return false;
  }
  function passwordFilled(password, confirmpassword ) {
    if (password.val() === '' || confirmpassword === '') {
      return false;
    }
    return true;
  }

  function filled(fields) {
    for (var i = 0; i < fields.length; i++) {
      if (fields[i].val() === '') {
        return false;
      }
    }
    return true;
  }

</script>
