<div class="container" style="padding-top: 60px">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
        {{user.name}}
        {{#if user.inStudy}}
          <span class="badge badge-success">In Study</span><br>
        {{else}}
          <span class="badge badge-danger">Not in Study</span><br>
        {{/if}}
      </h4>
      <h6 class="card-subtitle mb-2 text-muted"><b>Joined On: </b>{{user.timeCreated}}</h6>
      <span class="badge badge-success">Patient</span>
      {{#if user.roles.clinician}}
        <span class="badge badge-primary">Clinician</span>
      {{/if}}
      {{#if user.roles.analyst}}
        <span class="badge badge-secondary">Analyst</span>
      {{/if}}
      {{#if user.roles.researcher}}
        <span class="badge badge-info">Researcher</span>
      {{/if}}
      {{#if user.roles.admin}}
        <span class="badge badge-warning">Admin</span>
      {{/if}}
      {{#if user.roles.root}}
        <span class="badge badge-dark">Root</span>
      {{/if}}
      <p class="card-text">
      <form id="form">
        <div id="formFields"></div>
      <button type="submit" id="update" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="/public/scripts/account.js"></script>
<script>
  joiFormValue('name', '{{user.name}}');
  joiFormValue('email', '{{user.email}}');
  joiFormValue('username', '{{user.username}}');
</script>
